#mainTitle {
  height: 100px;
  width: 300px;
  box-sizing: border-box;
  text-align: center;
  padding: 50px;
  margin: auto;

  letter-spacing: 3px;
  font-weight: bolder;
  font-size: larger;
}

#photoHolder {
  height: 450px;
  width: 800px;
  border-style: ridge;
  margin: auto;
  text-align: center;
}

#instruction {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}

.photos li {
  float: left;
  list-style-type: none;
}

#photoOne, #photoTwo, #photoThree {
  height: 150px;
  width: 150px;
    border: none;
  border-style: ridge;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

#photoOne {
  content: url('./pics/IMG_2528.jpg');
}

#photoTwo {
  content: url('./pics/IMG_2572.jpg');
}

#photoThree {
  content: url('./pics/IMG_3226.jpg');
}

#finalResult {
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 310px;
  font-family: fantasy;
  float: left;
}
